:host {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Cambiado para que el contenido crezca hacia abajo */
  height: auto; /* Se adapta automáticamente al contenido */
  padding-top: 8rem; /* Agrega espacio superior */
  padding-bottom: 10rem; /* Espacio adicional al final */
}

.container {
  padding: 40px;

}

.card {
  border: none;
  border-radius: 10px;
  padding: 20px;
  background: #ffffff;
}

.card-body {
  padding: 40px;
}

.form-group {
  position: relative;
  margin-bottom: 20px;

  label {
      position: absolute;
      top: -10px;
      left: 10px;
      background: white;
      padding: 0 5px;
      font-size: 14px;
      color: #495057;
  }

  input {
      border: 2px solid #ced4da;
      border-radius: 5px;
      padding: 10px;
      transition: border-color 0.3s;
      &:focus {
          border-color: #80bdff;
          outline: none;
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
  }
}

.btn-primary {
  background-color: #ff2847;
  border-color: #ff2847;
}

.btn-primary:hover {
  background-color: #ff5f72;
  border-color: #ff5f72;
}
