<div class="container mt-5 p-4 rounded" style="background-color: aliceblue;">
  <div class="text-center">
    <h2 class="section-title mb-4">Catálogo de Productos&nbsp; ⛩</h2>
  </div>

  <div *ngIf="products.length === 0" class="alert alert-info text-center">
    No hay productos disponibles.
  </div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div *ngFor="let product of products" class="col">
      <div class="card h-100 shadow-sm">
        <img [src]="product.imageUrl" class="card-img-top" alt="{{ product.name }}">
        <div class="card-body">
          <h5 class="card-title"><strong>{{ product.name }}</strong></h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text"><strong>Precio:</strong> {{ product.price | currency }}</p>
          <p class="card-text"><strong>Stock:</strong> {{ product.stock }}</p>
          <p class="card-text"><strong>Marca:</strong> {{ product.brand }}</p>
          <p class="card-text"><strong>Rating:</strong> {{ product.rating }}</p>
          <p class="card-text"><strong>Disponible:</strong> {{ product.available === 'Y' ? 'Sí' : 'No' }}</p>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-success w-100" (click)="addProductToCart(product)">
            Comprar&nbsp;&nbsp;
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icon-tabler-shopping-cart">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M6 19a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
              <path d="M17 19a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
              <path d="M17 17H6V3H4" />
              <path d="M6 5l14 1l-1 7H6" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
