<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-10">
          <div class="card">
              <div class="card-body text-center">
                  <div class="text-center">
                      <h4 class="section-title mb-4">Sobre Nosotros 🤝</h4>
                  </div>
                  <p>
                      Bienvenidos a SkinsMask, donde ofrecemos las mejores máscaras personalizadas para tus eventos,
                      fiestas y ocasiones especiales. Nos enorgullecemos de ofrecer productos de alta calidad y un
                      servicio excepcional al cliente.
                  </p>
                  <hr>
                  <div class="text-center">
                      <h4 class="section-title mb-4">Nuestra Misión🎭</h4>
                  </div>
                  <p>
                      Nuestra misión es proporcionar máscaras únicas y de alta calidad que permitan a nuestros
                      clientes expresar su individualidad y creatividad. Nos esforzamos por ofrecer productos que no
                      solo sean estéticamente agradables sino también cómodos y seguros de usar.
                  </p>
                  <hr>
                  <div class="text-center">
                      <h4 class="section-title mb-4">Nuestro Equipo 🖌️</h4>
                  </div>
                  <p>
                      Contamos con un equipo de diseñadores talentosos y artesanos dedicados que trabajan arduamente
                      para crear las máscaras más innovadoras y detalladas del mercado. Cada miembro de nuestro equipo
                      comparte una pasión por la creatividad y la excelencia.
                  </p>
                  <hr>
                  <div class="text-center">
                      <h4 class="section-title mb-4">Contacto ✅</h4>
                  </div>
                  <p>
                      Si tienes alguna pregunta o necesitas asistencia, no dudes en ponerte en contacto con nosotros a
                      través de nuestro formulario de contacto o llamándonos directamente.
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>
